.product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: auto;
  min-width: 100px;
  background-color: #fff;
  z-index: 1;
}

.product__title {
  padding: 10px;
}

.product__price {
  height: 100px;
  margin-bottom: 8px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #ffc14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}

.product__rating {
  display: flex;
}

.product__ratingGold {
  color: #ffd700;
}

.product__ratingWhite {
  color: #aaa;
}
